:host{
    display: flex; //Erst jetzt bekommt app-root-Container Farbe
    flex-direction: column;
    position: relative; //Sorgt dafür, dass alles was sich als absolutes Element in app-component befindet immer richtig ausgerichtet wird
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
}

.containerForMainArea{
    display:flex;
}

.routerDesign{
    background-color: var(--background-color2);
    display:flex;  //Erst jetzt bekommen alle Komponenten die vom router-outlet angesteuert werden Farbe
    flex:6;
    min-height: calc(100vh - 100px - 100px); //Nimmt immer mindestens den Rest-Raum ein, der abzüglich von header & footer noch übrig bleibt
}

.sideBoxLeft{
    flex:2;
}

.sideBoxRight{
    flex:2;
}


@media (min-width:1000px) and (max-width:1200px) {
    
    .sideBoxLeft{
        flex:1;
    }
    
    .sideBoxRight{
        flex:1;
    }

}

@media (min-width:900px) and (max-width:999px) {
    
    .sideBoxLeft{
        flex:0.5;
    }
    
    .sideBoxRight{
        flex:0.5;
    }

}

@media (min-width:280px) and (max-width:899px) {

    .containerForMainArea{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content: center;
    }

    .sideBoxLeft{
        flex:unset;
    }
    
    .sideBoxRight{
        flex:unset;
    }

    .routerDesign{
        width: 90%;
        flex:unset;

        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content: center;
    }

    router-outlet{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content: center;
    }

    app-header {
       height:100px;
    }

}