.header-socialmedia{
    background-color: var(--background-color3);
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:80%;
}

img{
    height:50px;
    margin:10px;
}

img:hover{
    cursor:pointer;
    transform: scale(1.2);
    transition: transform 330ms ease-in-out;
}