:host{
    
}

.header-socialmedia{
    background-color: green;
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:80%;
}

img{
    height:50%;
    margin:10px;
}

img:hover{
    cursor:pointer;
    transform: scale(1.2);
    transition: transform 330ms ease-in-out;
}