:host {
    display:flex;
    flex-direction: column;
    width: 100%;
}

.mrgbot{
    margin-bottom:75px;
}

@media (min-width:280px) and (max-width:800px) {

    app-mapbox{
        width:100%;
    }

}