:host {
    background-color: var(--background-color-page);
    color: var(--text-color-page);
}

img{
    width:250px;
}

.bio-container{
 display:flex;
 margin-bottom:50px;
}

.text-container{
    margin-bottom:150px;
}

.flexone{
    flex:1;
}

a{
    cursor:pointer;
}