h2{
    margin-top: 0 !important;
}

img{
    width:250px;
    object-fit:contain;
    background-color: white;
}

.bio-container{
   display:flex;
   margin-bottom:50px;
}

.text-container{
    display:flex;
    flex-direction: column;
    margin-bottom:150px;
}

.flexone{
    flex:1;
}

.padlft{
    padding-left:50px;
}

a{
    cursor:pointer;
}

.meineRadix{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top:50px;
  margin-bottom:50px;
}


@media (min-width:500px) and (max-width:800px) {

    .bio-container{
      flex-direction: column;
      align-items: center;
      justify-content: center;
     }

     .padlft{
        padding-left: unset;
    }
}


@media (min-width:280px) and (max-width:499px) {

    .bio-container{
      flex-direction: column;
      align-items: center;
      justify-content: center;
     }

     h2{
        font-size:30px;
     }

     .padlft{
        padding-left: 10px;
    }
}