<h1>Über mich</h1>

<!-- UNDERLINE -->
<div style="width:50px;margin-bottom:50px;border:3px solid;"></div>

<h2>"Einem Menschen, der die Schönheit einer Blume sieht, werden dadurch vielleicht - sei es auch nur flüchtig - die Augen geöffnet für die Schönheit seines eigenen tiefsten Wesens, seiner eigenen wahren Natur." - Eckhart Tolle</h2>

<div class="bio-container">
    <img class="flexone" src="assets/img/Tobias-Ullrich.jpg">
    <div class="flexone padlft">
      <h3>Mein bisheriger Weg</h3>
      <span>
        • 1986  Geboren in Augsburg <br>
        • 2006 Abitur Gymnasium Donauwörth <br>
        • 2013 Diplom Informationsorientierte BWL Universität Augsburg <br>
        • 2015 Ein spirituelles Erwachen erzeugte einen tiefen Wandel in meinem Bewusstsein. Es brachte bisher verborgene Talente zum Vorschein und ließ mich auch meine Lebensaufgabe erkennen.
      </span>
      <h3>Seminare & Ausbildungen</h3>
      <span>
      • 2016  Schamanismus 1,2+3 <a (click)="goToUrl(0);">(*)</a> <br>
      • 2016  Bewusstseinsreisen <a (click)="goToUrl(1);">(*)</a> <br>
      • 2017  Rückführung 1+2 <a (click)="goToUrl(2);">(*)</a> <br>
      • Seit 2014  Asthanga-Yoga <a (click)="goToUrl(3);">(*)</a> <br>
      • Seit 2016  Vipassana-Meditation <a (click)="goToUrl(4);">(*)</a> <br>
      • 2019  Evolutionärer Astrologe <a (click)="goToUrl(5);">(*)</a> <br>
      • 2022  Biodynamischer Cranio-Sacral-Therapeut (*)
      • 2024  Sportmassage <a (click)="goToUrl(6);">(*)</a> <br>
      • 2024  Dorn-Breuss-Massage <a (click)="goToUrl(7);">(*)</a> <br> 
      • 2024  Akasha-Chronik-Reading <a (click)="goToUrl(8);">(*)</a> <br>
      </span>
    </div>
</div>

<div class="text-container">
    <h3>Wie kam es zu meinem Erwachen?</h3>
    <span>Nach dem Tod meiner Mutter litt ich bereits einige Jahre lang unter immer wiederkehrenden diffusen, mir damals unerklärlichen Angstzuständen.
    Eines Nachts, ich hatte innerlich bereits kapituliert, bekam ich Krämpfe im Bauch-Solarplexus-Bereich, sodass es mich fast senkrecht im Bett aufstellte. Irgendetwas war passiert.
    Als ich am nächsten Morgen aufwachte, sprach eine innere Stimme zu mir, mit den Worten: „Hör auf zu kämpfen, du musst jetzt nicht mehr leiden!“.
    Ab diesem Tag breitete sich in meinem Körper ein Gefühl von Liebe, Glückseligkeit & tiefer Verbundenheit mit allem was ist aus.
    Diese innere Öffnung verstärkte sich anschließend von Tag zu Tag und dauerte noch einige Monate an.
    Dazu kamen Wahrnehmungen von nicht-physischen Wesenheiten & Energien und auch einige Visionen von Vergangenheit & Zukunft. Ich hatte auch das Gefühl, dass ich später mal mit meinen Händen heilen werde.
    Da ich solche Dinge bist dato nicht kannte war ich in dieser Zeit auch oft verwirrt.
    Mein bisheriges Weltbild wurde also plötzlich in den Hexler geworfen und ich musste mir ein neues zusammenbasteln.
    So begann also meine spirituelle Suche, die man vielleicht mit der Frage beschreiben könnte: „Wer bin ich, woher komme ich und wo gehe ich hin?“</span>
    
    <div class="meineRadix">
      <img class="flexone" src="assets/img/meineradix.png">
      <span> <b>Meine Geburtsradix</b> </span>
    </div>

    

    <h3>Wie kam ich zur Astrologie?</h3>
    <span>Ungefähr 1 Jahr später fand ich zur Astrologie. Nachdem ich das Buch „Heilende Planeten Kräfte“ von Samuel Sagan gelesen hatte war mir intuitiv klar, dass es die Astrologie für mich werden wird.
    Ich habe allerdings zu Beginn sehr daran gezweifelt, dass Astrologie überhaupt funktioniert und auch mit der klassischen Astrologie bin ich nie wirklich warm geworden.
    Als mir dann das Buch „Evolutionäre Astrologie“ von Ulrich Böld in die Hände fiel, hat es nach wenigen Seiten sofort Klick gemacht und der Zugang zu einer magischen Welt war gelegt: "Ah so funktioniert Astrologie!".</span>
    
    <h3>Warum evolutionäre Astrologie?</h3>
    <span>Wenn die klassische Astrologie das Horoskop mit einem Mikroskop betrachtet, dann schaut die evolutionäre Astrologie mit einem Teleskop!
    Die evolutionäre Astrologie betrachtet nicht nur dieses Leben als isoliertes Fragment, sondern bezieht auch frühere Existenzen & die Seele mit in die Interpretation ein, wirft also einen Blick auf das ganze Bild.
    Denn jeder ist so wie er ist, wegen dem was in früheren Leben war. Edgar Cacey hat auch einmal gesagt, dass Astrologie Sinn macht, aber nur unter Einbeziehung früherer Leben.
    Für mich persönlich ist der 100% Wahrheitsgehalt bezüglich früherer Leben nicht der entscheidende Faktor, sondern dass der Mensch die Figuren & Archetypen erkennt, welche in seiner eigenen Psyche leben!
    So würde ich die evolutionäre Astrologie auch als sehr bildhaft und imaginativ beschreiben, was mir bei der klassischen Astrologie meist gefehlt hat.
    Ein weiterer Punkt ist, dass die evolutionäre Astrologie Lösungen anbietet, statt sich in fatalistische Prognosen zu verstricken.</span>
    
    <h3>Wie kam ich zur Cranio-Sacral-Therapie?</h3>
    <span>Ebenso wie mir das Buch über die Evolutionäre Astrologie von einer guten Freundin, die ebenfalls therapeutisch arbeitet, in die Hand gedrückt wurde, so hat sie mir gute 1,5 Jahre später bei einem Spaziergang die Frage gestellt: "Wäre es nicht etwas für dich etwas mit den Händen zu tun?".
       Auch in diesem Fall habe ich gefunden ohne zu suchen. Durch ihren Tipp saß ich ein paar Monate später im Einführungsseminar für die Ausbildung in biodynamischer Cranio-Sacral-Therapie an der Freiburger Cranio- & Polarity-Schule. </span>
    
    <h3>Was ist Biodynamische Cranio-Sacral-Therapie?</h3>
    <span>Die Methode hat sich in der ersten Hälfte des 20. Jahrhunderts aus der Osteopathie heraus entwickelt und entfaltet ihre Wirkung mittels sanfter Berührungen auf körperlicher, geistiger & seelischer Ebene. Die Gehirn-Rückenmarksflüssigkeit (Liquor), die im Schädel und der Wirbelsäule zirkuliert, ist der Indikator der Cranio-Sacralen-Energiearbeit.
       Diese Flüssigkeit schützt, nährt und bewegt unser Nervensystem vom Schädel (Cranium) bis zum Kreuzbein (Sacrum). Der cranio-sacrale Rhythmus ist im ganzen Körper über das Bindegewebe spürbar. So können Blockaden im wahrsten Sinne des Wortes "ertastet" und in weiterer Folge mit sanften Griffen aufgelöst werden. 
       Das biodynamische Modell geht davon aus, dass jeder Mensch bereits innerlich heil ist, ihm nichts hinzugefügt oder weggenommen werden muss.
        Es muss lediglich der schon in ihm angelegte innere Heilungsplan aktiviert werden. Dann ist es wie der griechische Philosoph Heraklit sagte: "Panta Rhei - alles fließt."</span>

    <h3>Meine Vision, meine Mission und welche Werte ich weitergeben möchte?</h3>
    <span>Durch die Astrologie möchte ich Menschen mit Sicherheit & Vertrauen ausstatten, dass alles im Leben einen höheren Sinn hat, und damit wieder auf ihren ureigenen persönlichen Weg schicken.
    Denn nur wer den Weg geht, welcher für ihn bestimmt ist kann sich vollständig entfalten!
    Mit der Biodynamischen Cranio-Sacral-Arbeit begleite ich den Menschen auf der Reise in sein innerstes Selbst. Für mich persönlich fühlt es sich an wie tiefe Meditation, egal ob ich Behandler bin oder behandelt werde.
     Wenn die Verbindung gut ist, dann ist es wie Eintauchen in das Kraftreservoir der Quelle selbst. Mann kann sich vollständig aufgeladen und hochschwingend an neue Aufgaben wagen.
      Die Wirkung der Behandlung hält teilweise noch Wochen an.</span>
</div>
