<h1>Biodynamische Cranio-Sacral-Therapie</h1>

<h2>"Wer nach außen sieht, träumt. Wer nach innen sieht, erwacht. Das einzig lebenswerte Abenteuer kann für den modernen Menschen nur noch innen zu finden sein." - Carl Gustav Jung</h2>

<div class="explanation-container">
    <img class="flexone" src="assets/img/cranio-1.jpg">
    <div class="flexone">
        <h3>Was ist Biodynamische Cranio-Sacral-Therapie?</h3>
        Die Methode hat sich in der ersten Hälfte des 20. Jahrhunderts aus der Osteopathie heraus entwickelt und entfaltet ihre Wirkung mittels sanfter Berührungen auf körperlicher, geistiger & seelischer Ebene. Die Gehirn-Rückenmarksflüssigkeit (Liquor), die im Schädel und der Wirbelsäule zirkuliert, ist der Indikator der Cranio-Sacralen-Energiearbeit. Diese Flüssigkeit schützt, nährt und bewegt unser Nervensystem vom Schädel (Cranium) bis zum Kreuzbein (Sacrum). Der cranio-sacrale Rhythmus ist im ganzen Körper über das Bindegewebe spürbar. So können Blockaden im wahrsten Sinne des Wortes "ertastet" und in weiterer Folge mit sanften Griffen aufgelöst werden. Das biodynamische Modell geht davon aus, dass jeder Mensch bereits innerlich heil ist, ihm nichts hinzugefügt oder weggenommen werden muss. Es muss lediglich der schon in ihm angelegte innere Heilungsplan aktiviert werden. Dann ist es wie der griechische Philosoph Heraklit sagte: "Panta Rhei - alles fließt."
    </div>
</div>

<div class="explanation-container">
  <div class="flexone">    
  <h3>Die positiven Effekte</h3>
  <span>
    Förderung von Entspannung <br>
    Steigerung von Vitalität, Energielevel & Bewusstsein <br>
    Dinge im Körper wieder in Fluss bringen <br>
    Aktivierung von Selbstheilungskräften <br>
    Unterstützung bei akuten & chronischen Schmerzen <br>
    Gewinnung von Leichtigkeit & Gelassenheit <br>
  </span>
  </div>
  <img class="flexone" src="assets/img/cranio-2.jpg">
</div>

<div class="explanation-container">
    <img class="flexone" src="assets/img/cranio-3.jpg">
    <div class="flexone">    
    <h3>Informationen</h3>
    <span>
      Mein Praxisraum befindet sich in der Bahnhofstraße 47, 86690 Mertingen <br>  
      Eine Behandlung mit Vorgespräch dauert ca. 1,5 Stunden <br>
      Die Stunde kostet 70€ <br>
      Wir arbeiten gemeinsam daran eine Lösung für dein Problem zu finden <br>
    </span>
    </div>
</div>

<app-custombutton (click)="routeTo('/Kontakt')" [buttonText]="label"></app-custombutton>