img{
    width:100%;
    object-fit:contain;
}

.explanation-container{
 display:flex;
}

.explanation-container2{
    display:flex;
    flex-direction: column; 
}

.flexone{
    flex:1;
}

.lastContainerOfPage{
    display: flex;
    justify-content: center;
    margin-top:75px;
    margin-bottom:75px;
}

.pd-left{
    padding-left: 50px;
}

.pd-right{
    padding-right: 50px;
}

.mrg-btm{
    margin-bottom: 50px;
}

#aboutCranio{
    margin-bottom:50px;
}

#positiveEffects{
    margin-bottom:50px;
}

@media (min-width:280px) and (max-width:400px) {

h2{
    font-size:30px;
}

}