<!-- HEADER --> 
<h1>Biodynamische Cranio-Sacral-Therapie 🌊</h1>

<!-- UNDERLINE -->
<div style="width:50px;margin-bottom:50px;border:3px solid;"></div>

<h2>"Wer nach außen sieht, träumt. Wer nach innen sieht, erwacht. Das einzig lebenswerte Abenteuer kann für den modernen Menschen nur noch innen zu finden sein." - Carl Gustav Jung</h2>

<div id="aboutCranio" class="explanation-container2">
    <img src="assets/img/cranio-1.jpg">
    <h3>🔎 Was ist Biodynamische Cranio-Sacral-Therapie?</h3>
    <span>Die Methode hat sich in der ersten Hälfte des 20. Jahrhunderts aus der Osteopathie heraus entwickelt und entfaltet ihre Wirkung mittels sanfter Berührungen auf körperlicher, geistiger & seelischer Ebene. Die Gehirn-Rückenmarksflüssigkeit (Liquor), die im Schädel und der Wirbelsäule zirkuliert, ist der Indikator der Cranio-Sacralen-Energiearbeit. Diese Flüssigkeit schützt, nährt und bewegt unser Nervensystem vom Schädel (Cranium) bis zum Kreuzbein (Sacrum). Der cranio-sacrale Rhythmus ist im ganzen Körper über das Bindegewebe spürbar. So können Blockaden im wahrsten Sinne des Wortes "ertastet" und in weiterer Folge mit sanften Griffen aufgelöst werden. Das biodynamische Modell geht davon aus, dass jeder Mensch bereits innerlich heil ist, ihm nichts hinzugefügt oder weggenommen werden muss. Es muss lediglich der schon in ihm angelegte innere Heilungsplan aktiviert werden. Dann ist es wie der griechische Philosoph Heraklit sagte: "Panta Rhei - alles fließt."</span>
</div>

<div id="positiveEffects" class="explanation-container">
  <div>
  <img src="assets/img/cranio-2.jpg">    
  <h3>Die positiven Effekte 💫</h3>
  <span>
    • Förderung von Entspannung <br>
    • Steigerung von Vitalität, Energielevel & Bewusstsein <br>
    • Dinge im Körper wieder in Fluss bringen <br>
    • Aktivierung von Selbstheilungskräften <br>
    • Unterstützung bei akuten & chronischen Schmerzen <br>
    • Gewinnung von Leichtigkeit & Gelassenheit <br>
  </span>
  </div>
</div>

<div class="explanation-container">
  <div>
   <img src="assets/img/cranio-3.jpg">
   <h3 style="display:flex;justify-content:center;text-align:center;margin-top:75px;">Hier gehts zu meinen Angeboten ☀️</h3>
   <span></span>
  </div>
</div>


<div class="lastContainerOfPage">
  <app-custombutton (click)="routeTo('/Angebote')" [buttonText]="label"></app-custombutton>
</div>