:host{
    display: flex;
    flex-direction: column;
    align-items:center;
    width:100%;
}

.pageContainer{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    margin-bottom:150px;
}

.pdf-sizing{
    width:100%;
    height:1000px;
}