:host{
    background-color: var(--background-color-page);
    color: var(--text-color-page);
    display: flex;
    flex-direction: column;
    align-items:center;
    width:100%;
}

.pdf-sizing{
    width:100%;
    height:1000px;
    margin-bottom:80px;
}