<h1>Diplomarbeit</h1>

<!-- <iframe width="100%" height="100%" src="assets/pdf/Evolutionär Astrologische Prinzipien in der Cranio-Sacral-Therapie.pdf#toolbar=0"> Überschriften </iframe> -->

<!-- #toolbar=0; Entfernt alle Buttons beim PDF -->
<!-- #zoom=FitH; Passt den Zoom des PDFs auf horizontaler Ebene an (#zoom=FitV; Passt den Zoom des PDFs auf vertikaler Ebene an) -->

<embed class="pdf-sizing" src="assets/pdf/Evolutionär Astrologische Prinzipien in der Cranio-Sacral-Therapie.pdf#toolbar=0#zoom=FitH" type="application/pdf">



 
