:host{
      background-color: var(--background-color-header);
      color: var(--text-color-header);
      height:100px;
}

header{
      background-color: var(--background-color2);
      display:flex;
      justify-content: space-around;
      align-items: center;
      height:100%;
      width:100%;
}