:host{
      background-color: lightblue;
      height:100px;
}

header{
      background-color: aqua;
      display:flex;
      justify-content: space-around;
      align-items: center;
      height:100%;
      width:100%;
}

.header-socialmedia{
      background-color: green;
      display:flex;
      justify-content: space-around;
      align-items: center;
      height:100%;
}

img{
      width:50px;
      margin:10px;
}

img:hover{
      cursor:pointer;
      transform: scale(1.2);
      transition: transform 330ms ease-in-out;
}

.header-links{
      background-color: red;
      display:flex;
      justify-content: space-around;
      align-items: center;
}

.header-dontknow{
      background-color: yellow;
}

nav{
 display:flex;
 align-items:center;
 margin:10px;
}

nav:hover{
      cursor:pointer;
      transform: scale(1.2);
      transition: transform 330ms ease-in-out;
}