:host{
      height:200px;
}

header{
      background-color: var(--background-color2);
      display:flex;
      justify-content: space-around;
      align-items: flex-start;
      height:100%;
      width:100%;
}


@media (min-width:280px) and (max-width:900px) {
    
      :host{
            height:100vh;
      }
      header{
            height:100vh;
            position:fixed;
            z-index:21;
      }
  
}