:host {
    width:100%;
}

.flexboxAndflexdirectioncolumn{
    display:flex;
    flex-direction:column;
    justify-content: space-around;  
}

.picSize{
    width:400px;
    margin-right:20px;
}

.containerDesign{
    display:flex;
    margin-bottom:50px;
    border: solid 1px;
    padding:20px;
    background-color: white;
}

.containerDesign:hover{
    transition: all 225ms ease-in-out;
    transform: scale(1.05);
    cursor:pointer;
}

.forContainerWithProfilePic{
    flex-direction:row-reverse;
    justify-content:space-between;
    margin-top:50px;
}

.mrgbot{
    margin-bottom:75px;
}

.mrgZero{
    margin:0;
}

.logoAndText{
    display: flex;
}

.boxLogo{
    height:100px;
    width:auto;
    margin-right:20px;
}

.boxLogo:hover{
    cursor:pointer;
    transform: scale(1.2);
    transition: transform 330ms ease-in-out;
}

.textBoxStyle{
    display: flex;
    flex:1;
    align-items: center;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border: solid 1px;
}

.buttonSizing{
    display: flex;
    justify-content: center;
}

.lastContainerOfPage{
    margin-bottom:150px; 
}

span{
    margin-top:25px;
    margin-bottom:25px;
}


@media (min-width:350px) and (max-width:800px) {

:host{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 95%;
}    
    
h2{
    font-size:40px;
    margin-top:25px !important;
}

.flexboxAndflexdirectioncolumn {
    width: 90%;
}

.forContainerWithProfilePic{
    flex-direction:column-reverse;
    align-items:center;
}

.containerDesign{
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align:center;
}

.picSize{
    width:90%;
    margin-right: unset;
    margin-top:25px;
}

.logoAndText{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textBoxStyle{
    padding:10px;
    text-align:center;
}

.boxLogo{
    margin-bottom: 20px;
    margin-right:unset;
}

app-custombutton{
    margin-bottom:25px;
}

}

@media (min-width:280px) and (max-width:349px) {

    :host{
        display:flex;
        align-items: center;
        justify-content: center;
        width: 95%;
    }    
        
    h2{
        font-size:30px;
        margin-top:25px !important;
    }
    
    .flexboxAndflexdirectioncolumn {
        width: 90%;
    }
    
    .forContainerWithProfilePic{
        flex-direction:column-reverse;
        align-items:center;
    }
    
    .containerDesign{
       flex-direction: column;
       justify-content: center;
       align-items: center;
       text-align:center;
    }
    
    .picSize{
        width:90%;
        margin-right: unset;
        margin-top:25px;
    }
    
    .logoAndText{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .textBoxStyle{
        padding:10px;
        text-align:center;
    }
    
    .boxLogo{
        margin-bottom: 20px;
        margin-right:unset;
    }
    
    app-custombutton{
        margin-bottom:25px;
    }
    
    }