:host {
    background-color: var(--background-color-page);
    color: var(--text-color-page);
    width:100%;
}

main{
    display:flex;
    flex-direction:column;  
}

img{
    width:400px;
    margin-right:20px;
}

.containerDesign{
    display:flex;
    margin-bottom:50px;
    border: solid 1px;
    padding:20px;
    background-color: white;
}

.containerDesign:hover{
    transition: all 225ms ease-in-out;
    transform: scale(1.05);
    cursor:pointer;
}

.forContainerWithProfilePic{
    flex-direction:row-reverse;
    justify-content:space-between;
    margin-top:50px;
}

.mrgbot{
    margin-bottom:75px;
}

.logoAndText{
    display: flex;
}

.boxLogo{
    height:100px;
    width:auto;
}

.youTubeLogo:hover{
    cursor:pointer;
    transform: scale(1.2);
    transition: transform 330ms ease-in-out;
}

.textBoxStyle{
    display: flex;
    flex:1;
    align-items: center;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border: solid 1px;
}

.lastContainerOfPage{
    margin-bottom:150px; 
}