
<main>

    <div class="flexboxAndflexdirectioncolumn">
        <ng-container *ngFor="let picture of pictures; let i = index">

           <!-- Um beim ersten Element des Arrays das Bild Rechts zu haben -->
           <div *ngIf="i == 0" class="containerDesign forContainerWithProfilePic">
             <img id="{{'myimage' + i}}" src="assets/img/{{ picture }}">
             <div class="flexboxAndflexdirectioncolumn">
               <h2>{{ caption[i] }}</h2>
               <span>{{ text[i] }}</span>
               <app-custombutton routerLink="{{ routes[i] }}" [buttonText]="label"></app-custombutton>
             </div>
          </div>
          <!-- Alle restlichen Bilder sollen links sein -->
          <div *ngIf="i !== 0 && i !== pictures.length-1" class="containerDesign">
            <img src="assets/img/{{ picture }}">
            <div class="flexboxAndflexdirectioncolumn">
              <h2>{{ caption[i] }}</h2>
              <span>{{ text[i] }}</span>
              <app-custombutton routerLink="{{ routes[i] }}" [buttonText]="label"></app-custombutton>
            </div>
         </div>
         <!-- Letztes Bild soll auch links sein, aber einen größeren Abstand nach unten haben wegen footer -->
         <div *ngIf="i == pictures.length-1" class="containerDesign mrgbot">
         <img src="assets/img/{{ picture }}">
         <div class="flexboxAndflexdirectioncolumn">
            <h2>{{ caption[i] }}</h2>
            <span>{{ text[i] }}</span>
            <app-custombutton routerLink="{{ routes[i] }}" [buttonText]="label"></app-custombutton>
          </div>
       </div>

        </ng-container>
    </div>

    <!-- Hinweis auf YouTube -->
    <div class="noticeBoxYoutube mrgbot">
      <!-- HEADER -->
      <h1>Folge mir auf YouTube</h1>
      <!-- UNDERLINE -->
      <div style="width:50px;margin-bottom:50px;border:3px solid;"></div>
      <!-- TEXT -->
      <div class="logoAndText">
        <img class="youTubeLogo" src="assets/img/youtube.png" (click)="goToUrl('https://www.youtube.com/@EvolutionaereAstrologie');">
        <div class="textBoxStyle">Der einzige & größte YouTube-Kanal zum Thema Evolutionäre Astrologie. Dort findest du eine systematische Einführung in die Evolutionäre Astrologie!</div>
      </div>    
    </div>

    <!-- Box mit Karte -->
    <app-mapbox></app-mapbox>

    <!-- Hinweis auf kein Ersatz für Arzt-->
    <div class="lastContainerOfPage">
      <!-- HEADER -->
      <h1>Information</h1>
      <!-- UNDERLINE -->
      <div style="width:50px;margin-bottom:50px;border:3px solid;"></div>
      <!-- TEXT -->
      <div class="textBoxStyle">Mit der Biodynamischen Cranio-Sacral-Therapie stärke ich Menschen in ihrer Vitalität & Widerstandsfähigkeit und ersetze keinen Arzt oder Heilpraktiker!</div>
    </div>

</main>