.pageContainer{
    display:flex;
    flex-direction:column;
    width:100%;
    margin-bottom:150px;
}

.textboxForCourse{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-around;
}

.picSizing{
    width:100%;
    object-fit: contain;
}

.picContainer{
    width:50%;
    background-color:white;
    display: flex;
    align-items: center;
}

.flexone{
    flex:1;
    margin-left:20px;
}

.mrgbott{
 margin-bottom:33px;
}

.mrglft24{
    margin-left: 24px;
}

.completeCourseBox{
    display:flex;
    margin-bottom:50px;
    // background-color: red;
}

.posrel{
    position:relative;
}

.textOverPic{
    position:absolute;
    top:25px;
    right:25px;
}


@media (min-width:280px) and (max-width:800px) {

    .completeCourseBox{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .picContainer{
        width:100%;
    }

    .flexone{
        margin-left:unset;
    }

    .mrglft24{
        margin-left: unset;
    }

    .textboxForCourse{
        text-align: center;
    }

}