.pageContainer{
    display:flex;
    flex-direction:column;
    width:100%;
    margin-bottom:150px;
}

.textboxForCourse{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: flex-start;
}

.picSizing{
    height:100%;
    object-fit: contain;
}

.flexone{
    flex:1;
}

.mrgbott{
 margin-bottom:33px;
}

.completeCourseBox{
    display:flex;
    margin-bottom:50px;
}

.boxSizeNormal{
    height:300px;
}

.boxSizeBigger{
    height:450px;
}

.posrel{
    position:relative;
}

.textOverPic{
    position:absolute;
    top:25px;
    right:25px;
}