<div class="pageContainer">


    <ng-container *ngFor="let courseImg of courseImgs; let i = index">

    <!-- Wird als Überschrift vor den Komplettkursen angezeigt -->    
    <h1 *ngIf="i == 0">Komplette Kurse 📚</h1>
    <!-- UNDERLINE -->
    <div *ngIf="i == 0" style="width:50px;margin-bottom:50px;border:3px solid;"></div> 

    <!-- Ersten beiden Array-Punkte sind komplette Kurse -->
    <div *ngIf="i <= 1" class="completeCourseBox">
        <div class="picContainer"> 
            <img class="picSizing"  src="assets/img/{{ courseImg }}">
        </div>

        <div class="flexone textboxForCourse">
            <h3>{{ courseName[i] }}</h3>
            <span class="mrgbott">
                <b>• Inhalt: </b>{{ courseContent[i] }} <br>
                <b>• Dauer: </b> {{ courseTime[i] }} <br>
                <b>• Preis: </b> {{ coursePrice[i] }}
            </span>
            <app-custombutton (click)="goToUrl(linkToCourse[i])" [buttonText]="label"></app-custombutton>
        </div>  
    </div>

    <!-- Wird als Überschrift vor den einzelnen Kapiteln angezeigt -->   
    <h1 *ngIf="i == 2">Einzelne Kapitel 📖</h1>
    <!-- UNDERLINE -->
    <div *ngIf="i == 2" style="width:50px;margin-bottom:50px;border:3px solid;"></div> 
    
    <!-- Der Rest im Array besteht aus einzelnen Kapiteln -->
    <!-- Einmal mein Video-Kurs ab Index 2 -->
    <div *ngIf="i > 1 && i < 10" class="completeCourseBox">
        <div class="picContainer"> 
            <img class="picSizing"  src="assets/img/{{ courseImg }}">
        </div>

        <div class="flexone textboxForCourse mrglft24">
            <h3>{{ courseName[i] }}</h3>
            <span class="mrgbott">
                <b>• Inhalt: </b>{{ courseContent[i] }} <br>
                <b>• Dauer: </b> {{ courseTime[i] }} <br>
                <b>• Preis: </b> {{ coursePrice[i] }}
            </span>
            <app-custombutton (click)="goToUrl(linkToCourse[i])" [buttonText]="label2"></app-custombutton>
        </div>  
    </div>

    <!-- Einmal mein Live-Kurs ab Index 10 (hier wird die Nummer des Calls über das Bild gelegt) -->
    <div *ngIf="i > 9" class="completeCourseBox">
        <div class="posrel picContainer">
            <img class="picSizing"  src="assets/img/{{ courseImg }}">
            <span class="textOverPic"><b>{{ i-9 }} . Call</b></span>
        </div>

        <div class="flexone textboxForCourse mrglft24">
            <h3>{{ courseName[i] }}</h3>
            <span class="mrgbott">
                <b>• Inhalt: </b>{{ courseContent[i] }} <br>
                <b>• Dauer: </b> {{ courseTime[i] }} <br>
                <b>• Preis: </b> {{ coursePrice[i] }}
            </span>
            <app-custombutton (click)="goToUrl(linkToCourse[i])" [buttonText]="label2"></app-custombutton>
        </div>  
    </div>

    </ng-container>

</div>