:host {
    background-color: var(--background-color-page);
    color: var(--text-color-page);
}

.pageContainer{
    display:flex;
    flex-direction:column;
    width:100%;
    margin-top:150px;
    margin-bottom:150px;
}

.textboxForCourse{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: flex-start;
}

.picSizing{
    height:100%;
    object-fit: contain;
}

.flexone{
    flex:1;
}

.mrgbott{
 margin-bottom:33px;
}

.completeCourseBox{
    display:flex;
    margin-bottom:50px;
}

.boxSizeNormal{
    height:300px;
}

.boxSizeBigger{
    height:450px;
}