<!-- HEADER --> 
<h1>Astrologie ⭐</h1>

<!-- UNDERLINE -->
<div style="width:50px;margin-bottom:50px;border:3px solid;"></div>

<span>
      • Deutungstext zu deiner Radix oder Telefonische Beratung <br>  
      • Kosten: 250€ oder 150€ <br>
      • Composit möglich <br>
      • Der Deutungstext eignet sich wunderbar zum Verschenken <br>
</span>


<!-- HEADER --> 
<h1>Cranio-Sacral-Therapie 🌊</h1>

<!-- UNDERLINE -->
<div style="width:50px;margin-bottom:50px;border:3px solid;"></div>

  <span>
    • Mein Praxisraum befindet sich in der Bahnhofstraße 47, 86690 Mertingen <br>  
    • Eine Behandlung mit Vorgespräch dauert ca. 1,5 Stunden <br>
    • Die Stunde kostet 70€ <br>
    • Wir arbeiten gemeinsam daran eine Lösung für dein Problem zu finden <br>
  </span>


<!-- HEADER --> 
<h1>Astrologie Online-Kurse 📖</h1>

<!-- UNDERLINE -->
<div style="width:50px;margin-bottom:50px;border:3px solid;"></div>

  <span>
    • Mein Praxisraum befindet sich in der Bahnhofstraße 47, 86690 Mertingen <br>  
    • Eine Behandlung mit Vorgespräch dauert ca. 1,5 Stunden <br>
    • Die Stunde kostet 70€ <br>
    • Wir arbeiten gemeinsam daran eine Lösung für dein Problem zu finden <br>
  </span>



<div class="lastContainerOfPage">
  <app-custombutton (click)="routeTo('/Kontakt')" [buttonText]="label"></app-custombutton>
</div>