<!-- HEADER -->
<h1>Astrologische Beratung ⭐</h1>

<!-- UNDERLINE -->
<div style="width:50px;margin-bottom:50px;border:3px solid;"></div>

<!-- Inhalt -->
<span>
 🌟 Nutze die Kraft der Sterne! In einer individuellen astrologischen Beratung erhältst du tiefgehende Einblicke in deine Lebensaufgabe, persönliche Herausforderungen und Zukunftsperspektiven. Perfekt für alle, die Orientierung suchen. 🌙<br><br>
    • <strong>Komplette Analyse:</strong> 140€ 💫 <br>
    • <strong>Schnelle erste Hilfe:</strong> 70€ 🆘 <br><br>
    <strong>➡️ Schnell und einfach per Telefon 📞</strong><br>
    <strong>✅ Für einen Termin kannst du mich auch direkt anrufen: 0177 3458544 📞</strong>
    
    <div class="buttons">
      <app-custombutton (click)="routeTo('/Kontakt')" [buttonText]="label"></app-custombutton>
    </div>
</span>
<div style="margin-bottom:125px;"></div>



<!-- HEADER -->
<h1>Cranio-Sacral-Balancing & Wirbelsäulen-Ausrichtung 💆‍♀️💫</h1>

<!-- UNDERLINE -->
<div style="width:50px;margin-bottom:50px;border:3px solid;"></div>

<!-- Inhalt -->
<span>
    🌿 Lösen Sie Blockaden und stärken Sie Ihre Selbstheilungskräfte. Das Cranio-Sacral-Balancing bringt Körper und Geist in Einklang, während die Wirbelsäulen-Ausrichtung Rücken und Gelenke sanft in die richtige Position bringt. Ideal für mehr Wohlbefinden und weniger Schmerzen. ✨<br><br>

    • <strong>Einzelbehandlung:</strong> 70€ 💸 <br>
    • <strong>3 Behandlungen:</strong> 180€ 💰 <br><br>

    <strong>➡️ Mein Praxisraum befindet sich in der Bahnhofstraße 47, 86690 Mertingen 🏠</strong><br>
    <strong>✅ Für einen Termin kannst du mich auch direkt anrufen: 0177 3458544 📞</strong><br><br>

    <strong>❗ Mit dem Cranio-Sacral-Balancing & der Wirbelsäulen-Ausrichtung stärke ich Menschen in ihrer Vitalität & Widerstandsfähigkeit und ersetze keinen Arzt oder Heilpraktiker! ❗</strong><br><br>

    <div class="buttons">
      <app-custombutton (click)="routeTo('/Kontakt')" [buttonText]="label"></app-custombutton>
    </div>
</span>
<div style="margin-bottom:125px;"></div>



<!-- HEADER -->
<h1>Akasha-Chronik-Lesung 📖✨</h1>

<!-- UNDERLINE -->
<div style="width:50px;margin-bottom:50px;border:3px solid;"></div>

<!-- Inhalt -->
<span>
  🌌 Tauche ein in die unendliche Weisheit des Akasha-Feldes. In einer Akasha-Chronik-Lesung erhältst du Zugang zu Informationen über deine Seele, vergangene Leben und zukünftige Möglichkeiten. Eine tiefgehende Erfahrung für alle, die mehr über ihre spirituelle Reise erfahren möchten. 🌟<br><br>
  
  • <strong>Akasha-Chronik-Lesung:</strong> 50€ 📜 <br><br>
    <strong>➡️ Schnell und einfach per Telefon 📞</strong><br>
    <strong>✅ Für einen Termin kannst du mich auch direkt anrufen: 0177 3458544 📞</strong>

    <div class="buttons">
      <app-custombutton (click)="routeTo('/Kontakt')" [buttonText]="label"></app-custombutton>
    </div>
</span>
<div style="margin-bottom:125px;"></div>



<!-- HEADER -->
<h1>Astrologie Online-Kurse 🖥️🌙</h1>

<!-- UNDERLINE -->
<div style="width:50px;margin-bottom:50px;border:3px solid;"></div>

<!-- Inhalt -->
<span>
    🌟 Lerne, deine astrologischen Fähigkeiten zu entwickeln und tiefer in das Geheimnis der Sterne einzutauchen. Meine Online-Kurse bieten dir praxisorientiertes Wissen, um die Astrologie für dich selbst und andere zu nutzen. Ideal für Anfänger und Fortgeschrittene. 🌙<br><br>

    • <strong>Evolutionäre Astrologie I:</strong> 511€ 💻 <br>
    • <strong>Evolutionäre Astrologie II:</strong> 250€ 💸 <br><br>
    <strong>➡️ Schnell und einfach per Online-Plattform 🌐</strong> 

    <div class="buttons">
      <app-custombutton (click)="goToUrl(linkToCourse[0])" [buttonText]="label2" class="buybutton"></app-custombutton>
      <app-custombutton (click)="goToUrl(linkToCourse[1])" [buttonText]="label3" class="buybutton"></app-custombutton>
    </div>
</span>




<div class="lastContainerOfPage buttons">
</div>





  <!-- • <strong>Social Media Slogan:</strong> <br>
    ✨ *"Die Sterne wissen, was du brauchst – entdecke deine Bestimmung mit einer astrologischen Beratung."* 🌠 <br><br> -->

  <!-- • <strong>Social Media Slogan:</strong> <br>
    💆‍♂️ *"Mehr Bewegung und weniger Schmerzen – mit Cranio-Sacral-Balancing und Wirbelsäulen-Ausrichtung zu neuem Wohlbefinden!"* 🌟 <br><br> -->

  <!-- • <strong>Social Media Slogan:</strong> <br>
    ✨ *"Entdecke dein Leben aus einer höheren Perspektive – mit einer Akasha-Chronik-Lesung."* 🌠 <br><br> -->

  <!-- • <strong>Social Media Slogan:</strong> <br>
    🧑‍🏫 *"Meistere die Kunst der Astrologie – mit meinen Online-Kursen!"* 🌠 <br><br> -->