<div>

<h1>Evolutionäre Astrologie</h1>

<h2>"Ein Kind wird an dem Tag und zu der Stunde geboren, an dem die Himmelsstrahlen in mathematischer Harmonie mit seinem individuellen Karma sind. Deswegen spiegelt das Horoskop die unveränderbare Vergangenheit und eine mögliche Zukunft wieder." - Sri Yukteswar</h2>

<div class="explanation-container">
    <img class="flexone" src="assets/img/Einheitskreis.png">
    <div class="flexone">
        <h3>Was ist Evolutionäre Astrologie?</h3>
        Wenn die klassische Astrologie das Horoskop mit einem Mikroskop betrachtet, dann schaut die evolutionäre Astrologie mit einem Teleskop!
        Die evolutionäre Astrologie betrachtet nicht nur dieses Leben als isoliertes Fragment, sondern bezieht auch frühere Existenzen & die Seele mit in die Interpretation ein, wirft also einen Blick auf das ganze Bild.
        Denn jeder ist so wie er ist, wegen dem was in früheren Leben war. Edgar Cacey hat auch einmal gesagt, dass Astrologie Sinn macht, aber nur unter Einbeziehung früherer Leben.
        Für mich persönlich ist der 100% Wahrheitsgehalt bezüglich früherer Leben nicht der entscheidende Faktor, sondern dass der Mensch die Figuren & Archetypen erkennt, welche in seiner eigenen Psyche leben!
        So würde ich die evolutionäre Astrologie auch als sehr bildhaft und imaginativ beschreiben, was mir bei der klassischen Astrologie meist gefehlt hat.
        Ein weiterer Punkt ist, dass die evolutionäre Astrologie Lösungen anbietet, statt sich in fatalistische Prognosen zu verstricken.
    </div>
</div>

<iframe width="428" height="240" src="https://www.youtube.com/embed/l8Om43JjR0Y" title="Astrologie - Wie arbeitet eigentlich ein Astrologe? #50" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<h2>Der Astrologe bedient sich sogenannter Häuser, mit deren Hilfe er versucht die Fragen des Ratsuchenden zu beantworten.</h2>

<div class="explanation-container">
  <div class="flexone">    
  <h3>Die positiven Effekte</h3>
  <span>
    • Bewusstsein über die Seele und ihre Vorleben <br>
    • Potential & Ressourcen erkennen <br>
    • Sich selbst besser verstehen <br>
    • Reflektion der Vergangenheit <br>
    • Für die Zukunft gewappnet sein <br>
  </span>
  </div>
  <div class="flexone">    
    <h3>Informationen</h3>
    <span>
      • Deutungstext zu deiner Radix oder Telefonische Beratung <br>  
      • Kosten: 250€ oder 150€ <br>
      • Composit möglich <br>
      • Der Deutungstext eignet sich wunderbar zum Verschenken <br>
    </span>
    </div>

</div>


<h1>Human-Design</h1>

<h2>"Du musst dich selbst verstehen und du kannst dich jeden Tag ein wenig spielerisch damit befassen." - Jiddu Krishnamurti</h2>

<div class="explanation-container">
    <img class="flexone" src="assets/img/Human-Design.jpg">
    <div class="flexone">
        <h3>Was ist Human-Design?</h3>
        Human Design ist ein Werkzeug, welches den inneren Bauplan eines Menschen enthüllt und sichtbar macht. 
        Die Kenntnis deines persönlichen Designs verhilft dir mit Hilfe deiner eigenen inneren Autorität zu besseren Entscheidungen. 
        Es zeigt auch in welchen Bereichen du eine festgelegte Funktionsweise besitzt und wo du offen bist für Konditionierungen. - Tobias Ullrich
    </div>
</div>

<!-- <img class="flexone" src="assets/img/cranio-3.jpg"> -->
<h2>Grundlage des Human-Designs ist die 9-zentrige Körpergrafik aus welcher sich Typ, Autorität, Profil & Strategie ablesen lassen.</h2>

<app-custombutton (click)="routeTo('/Kontakt')" [buttonText]="label"></app-custombutton>

</div>