<div>

<!-- HEADER -->  
<h1>Evolutionäre Astrologie ⭐</h1>

<!-- UNDERLINE -->
<div style="width:50px;margin-bottom:50px;border:3px solid;"></div>

<!-- ASTROLOGIE -->
<div class="astrologieBox">
<h2 id="astro">"Ein Kind wird an dem Tag und zu der Stunde geboren, an dem die Himmelsstrahlen in mathematischer Harmonie mit seinem individuellen Karma sind. Deswegen spiegelt das Horoskop die unveränderbare Vergangenheit und eine mögliche Zukunft wieder." - Sri Yukteswar</h2>

<div class="explanation-container">
    
    <div class="explanation-container2">
        <img src="assets/img/Einheitskreis.png">
        <h3>🔎 Was ist Evolutionäre Astrologie?</h3>
        <span>Wenn die klassische Astrologie das Horoskop mit einem Mikroskop betrachtet, dann schaut die evolutionäre Astrologie mit einem Teleskop!
        Die evolutionäre Astrologie betrachtet nicht nur dieses Leben als isoliertes Fragment, sondern bezieht auch frühere Existenzen & die Seele mit in die Interpretation ein, wirft also einen Blick auf das ganze Bild.
        Denn jeder ist so wie er ist, wegen dem was in früheren Leben war. Edgar Cacey hat auch einmal gesagt, dass Astrologie Sinn macht, aber nur unter Einbeziehung früherer Leben.
        Für mich persönlich ist der 100% Wahrheitsgehalt bezüglich früherer Leben nicht der entscheidende Faktor, sondern dass der Mensch die Figuren & Archetypen erkennt, welche in seiner eigenen Psyche leben!
        So würde ich die evolutionäre Astrologie auch als sehr bildhaft und imaginativ beschreiben, was mir bei der klassischen Astrologie meist gefehlt hat.
        Ein weiterer Punkt ist, dass die evolutionäre Astrologie Lösungen anbietet, statt sich in fatalistische Prognosen zu verstricken.</span>
    </div>
</div>

<div class="explanation-container">
  <iframe width="50%" height="240" src="https://www.youtube.com/embed/l8Om43JjR0Y" title="Astrologie - Wie arbeitet eigentlich ein Astrologe? #50" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <h2 class="workAsAstrologer">Der Astrologe bedient sich sogenannter Häuser, mit deren Hilfe er versucht die Fragen des Ratsuchenden zu beantworten.</h2>
</div>

<div class="explanation-container">
  <div>    
  <h3>Die positiven Effekte 💫</h3>
  <span>
    • Bewusstsein über die Seele und ihre Vorleben <br>
    • Potential & Ressourcen erkennen <br>
    • Sich selbst besser verstehen <br>
    • Reflektion der Vergangenheit <br>
    • Für die Zukunft gewappnet sein <br>
  </span>
  </div>
  <!-- <div>
    <h3>Informationen</h3>
    <span></span>
  </div> -->
</div>

</div>



<!-- HUMAN-DESIGN -->
<!-- <h1>Human-Design</h1> -->

<!-- UNDERLINE -->
<!-- <div style="width:50px;margin-bottom:50px;border:3px solid;"></div>

<div class="humanDesignBox">
<h2>"Du musst dich selbst verstehen und du kannst dich jeden Tag ein wenig spielerisch damit befassen." - Jiddu Krishnamurti</h2>

<div class="explanation-container2">
    <img src="assets/img/Human-Design.jpg">
        <h3>Was ist Human-Design?</h3>
        <span>Human Design ist ein Werkzeug, welches den inneren Bauplan eines Menschen enthüllt und sichtbar macht. 
        Die Kenntnis deines persönlichen Designs verhilft dir mit Hilfe deiner eigenen inneren Autorität zu besseren Entscheidungen. 
        Es zeigt auch in welchen Bereichen du eine festgelegte Funktionsweise besitzt und wo du offen bist für Konditionierungen. - Tobias Ullrich</span>
</div>

<h2 id="hd">Grundlage des Human-Designs ist die 9-zentrige Körpergrafik aus welcher sich Typ, Autorität, Profil & Strategie ablesen lassen.</h2>
<span>Info: Fließt mit ein in den astrologischen Deutungstext</span>
</div> -->

<h3 style="display:flex;justify-content:center;text-align:center;">Hier gehts zu meinen Angeboten ☀️</h3>

<div class="lastContainerOfPage">
  <app-custombutton (click)="routeTo('/Angebote')" [buttonText]="label"></app-custombutton>
</div>
   
</div>