<div class="header-links">

  <nav *ngFor="let route of routes; let i = index" class="header-links-main-nav" id="{{'top' + i}}">

      <ng-container *ngIf="i!==indexOfPositionOfLogo">
        <div class="main-box">
          
          <!--Hauptmenupunkt über den gehovert werden muss um die Unterpunkte zu sehen-->
          <span class="menu-point-to-hover" routerLink="{{ route }}">
            <!--Hauptmenupunkt bekommt einen Pfeil, wenn es mindestens einen Untermenüpubkt gibt-->
            <div id="{{'main' + i}}"> {{ display[i]}} </div> <div *ngIf="subMenuRoutes1[i]!==''" id="{{'arro' + i}}" class="arrowStyle">&rsaquo;</div>
          </span>
          <!--Hauptmenupunkt über den gehovert werden muss um die Unterpunkte zu sehen-->

         <!--Untermenupunkte-->
         <div id="{{i}}" class="menu-subpoints d-none">
          <!-- Jedes Array und das zugehörige Display-Array (Untermenü Ebene 1,2, ... 3) hier einfügen, dann wird immer mit der id des Main Menus gematcht -->
             <nav id="{{'sub' + i + '1'}}" class="subpointStyle" routerLink="{{ subMenuRoutes1[i] }}"> {{ subMenuDisplay1[i] }} </nav>
             <nav id="{{'sub' + i + '2'}}" class="subpointStyle" routerLink="{{ subMenuRoutes2[i] }}"> {{ subMenuDisplay2[i] }} </nav>
             <nav id="{{'sub' + i + '3'}}" class="subpointStyle" routerLink="{{ subMenuRoutes3[i] }}"> {{ subMenuDisplay3[i] }} </nav>
             <nav id="{{'inv' + i + '3'}}" class="invStyle"> invisible </nav>
         </div>
         <!--Untermenupunkte-->

        </div>
      </ng-container>

      <ng-container *ngIf="i==indexOfPositionOfLogo"> <!-- Logo statt Wert aus dem Array -->
          <img class="header-logo" src="assets/img/logo.png" href="/" routerLink="{{ route }}">
      </ng-container>

  </nav>


  <!--MOBILE MENU-->
  <div class="open-mobile-menu" (click)="openMobileMenu()">
    <img src="assets/img/header-menu.png">
  </div>
  <!--MOBILE MENU-->

  <!--MOBILE MENU-->
  <div id="header-mobile-menu" class="header-mobile-menu"> <!--ABSOLUTE-->
    <div style="display:flex;justify-content:center;">
        <img class="header-mobilelogo" src="assets/img/header-mobilelogo.png">
        <div class="close-mobile-menu" (click)="closeMobileMenu()">
            <img  id="upperLine" style="position:absolute;top:0;" src="assets/img/line.png">
            <img  id="lowerLine" style="position:absolute;top:43px;" src="assets/img/line.png">
        </div>
    </div>
    <a href="#aboutme" (click)="closeMobileMenu()">About me</a>
    <a href="#skills" (click)="closeMobileMenu()">Skills set</a>
    <a href="#mywork" (click)="closeMobileMenu()">My work</a>
    <a href="#contact" (click)="closeMobileMenu()">Contact</a>
  </div>
<!--MOBILE MENU-->



</div>