:host{
    font-size: 18px;
    font-weight: bold;   /* equals 700 */
    height:100%;
}

.header-links{
    background-color: var(--background-color4);
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:100%;
}

.header-links-main-nav{
  display:flex;
  align-items:center;
  text-align:center;
  margin-left:5px;
  margin-right:5px;
  height:65%;
}

.header-links img{
    cursor:pointer;
    height:100%;
}

.header-logo:hover{
    cursor:pointer;
    text-decoration: underline;
    transform: scale(1.1);
    transition: transform 330ms ease-in-out;
    font-weight: 1000;
}

.arrowStyle{
    text-decoration: unset;
    margin-left:15px;
    transform: rotate(90deg);
}

/* Für Klappmenu */
.main-box{
    display:flex;
    flex-direction: column;
    position:relative;
    width:150px;
}
.main-box:hover{
    cursor:pointer;
    // text-decoration: underline;
    transform: scale(1.1);
    transition: transform 330ms ease-in-out;
    font-weight: 1000;
}

.menu-point-to-hover{
    display:flex;
    justify-content: center;
    align-items: center;
}

.menu-point-to-hover:after{
    width:100%;
    cursor:pointer;
}

.menu-subpoints{
    width:100%;
    position:absolute;
    top:21px;
    display:flex;
    flex-direction:column;
}

.invStyle{
    margin:0 !important;
    color:transparent;
    font-size:14px;
    cursor:default;
}

.subpointStyle{
    margin:0 !important;
    // border-left: 1px solid black;
    // border-right: 1px solid black;
    // border-bottom: 1px solid black;
    font-size:14px;
    cursor:pointer;
}

.subpointStyle:hover{
    text-decoration: underline;
}

.d-none{
    display:none;
}
/* Für Klappmenu */
