<div class="header-links">

    <nav *ngFor="let route of routes; let i = index" routerLink="{{ route }}">
        <ng-container *ngIf="i!==indexOfPositionOfLogo">
          <span>{{ display[i]}}</span>
          
          <div style="position:relative;">
            <div class="klappMenu">fghfghgfh</div>
          </div>
          
        </ng-container>
        <ng-container *ngIf="i==indexOfPositionOfLogo"> <!-- Logo statt Wert aus dem Array -->
            <img  src="assets/img/logo.jpg" href="/">
        </ng-container>
    </nav>

</div>