<div class="header-links">

  <nav *ngFor="let route of routes; let i = index" class="header-links-main-nav">

      <ng-container *ngIf="i!==indexOfPositionOfLogo">
        <div class="main-box">
          <!--Hauptmenupunkt über den gehovert werden muss um die Unterpunkte zu sehen-->
          <span id="{{'main' + i}}" class="menu-point-to-hover" routerLink="{{ route }}">
            {{ display[i]}}
          </span>
          <!--Hauptmenupunkt über den gehovert werden muss um die Unterpunkte zu sehen-->

         <!--Untermenupunkte-->
         <div id="{{i}}" class="menu-subpoints d-none">
          <!-- Jedes Array und das zugehörige Display-Array (Untermenü Ebene 1,2, ... 3) hier einfügen, dann wird immer mit der id des Main Menus gematcht -->
             <nav id="{{'sub' + i + '1'}}" class="subpointStyle" routerLink="{{ subMenuRoutes1[i] }}"> {{ subMenuDisplay1[i] }} </nav>
             <nav id="{{'sub' + i + '2'}}" class="subpointStyle" routerLink="{{ subMenuRoutes2[i] }}"> {{ subMenuDisplay2[i] }} </nav>
             <nav id="{{'sub' + i + '3'}}" class="subpointStyle" routerLink="{{ subMenuRoutes3[i] }}"> {{ subMenuDisplay3[i] }} </nav>
         </div>
         <!--Untermenupunkte-->
        </div>
      </ng-container>

      <ng-container *ngIf="i==indexOfPositionOfLogo"> <!-- Logo statt Wert aus dem Array -->
          <img class="header-logo" src="assets/img/logo.png" href="/" routerLink="{{ route }}">
      </ng-container>

  </nav>

</div>