.Impressum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom:150px;
}

.noMargintop{
    margin-top:0 !important;
}

.mrgbot{
    margin-bottom:50px;
}