:host {
    background-color: var(--background-color-impressum);
    color: var(--text-color-impressum);
}

.Impressum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top:50px;
    margin-bottom:150px;
}