:host{
    background-color: lightcyan;
    
}

footer{
    background-color: aqua;
    display:flex;
    flex-direction:column;
    align-items: center;
    height:100px;
}

h1{
    margin:0;
}

app-iconbox{
    height:50px; //Notwendig um die iconbox richtig zu dimensionieren
}