:host{
    background-color: lightcyan;
    
}

footer{
    background-color: aqua;
    display:flex;
    justify-content:space-between;
    //flex-direction:column;
    //align-items: center;
    height:100px;
}

nav{
    cursor:pointer;
}

h1{
    margin:0;
}

app-iconbox{
    height:50px; //Notwendig um die iconbox richtig zu dimensionieren
}