<!--Semantisches HTML-Tag-->
<footer>
    
    <div class="sizingLogoBox">
        <span><b>Mail: </b> ullrich.tobias&#64;gmx.de</span>
        <span><b>Tel: </b> 0177 3458544</span>
        <span><b>IBAN: </b> DE32 7225 0160 0190 1852 07</span>
    </div> 
    
    <div class="sizingImpressum">
      <h1>© Tobias Ullrich 2024</h1>
      <nav routerLink="/Impressum">Impressum & Datenschutz</nav>
    </div>

    <div class="sizingIconBox">
      <app-iconbox></app-iconbox>
    </div>
   
</footer>
<!--Semantisches HTML-Tag-->