:host{
    background-color: var(--background-color-footer);
    color: var(--text-color-footer);
}

footer{
    display:flex;
    justify-content:space-around;
    align-items: center;
    height:200px;
    border-top: solid 1px;
    box-shadow: 0px 0px 30px 0px;
}

img{
    height:80px;
}

.sizingLogoBox{
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size: 17px;
    width:210px; //Muss wegen Symmetrie genauso groß sein wie <app-iconbox>
}

.sizingImpressum{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sizingIconBox{
    display:flex;
}

h1{
    margin:0;
    cursor:default;
}

nav{
    cursor:pointer;
}

app-iconbox{
    height:50px; //Notwendig um die iconbox richtig zu dimensionieren
}