:host{
    display: flex;
    flex-direction: column;
    align-items:center;
    width:100%;
}

.pageContainer{
    display:flex;
    flex-direction:column;
    align-items: center;
    width:100%;
}

img{
    object-fit:none;
}

.pdf-sizing{
    width:100%;
    height:1000px;
}

.mrgbot{
    margin-bottom:75px;
}

.styleOfInterpretation{
    display: flex;
    flex-direction: column;
    align-items:center;
    width:100%;
}

.styleOfTextblockUnderRadiximage{
   text-align:center;
   margin-top:25px;
   margin-bottom:25px;
}

.forLastContainer{
    margin-bottom:150px;
}

@media (min-width:500px) and (max-width:800px) {
    img{
        width:90%;
        object-fit: contain;
    }

    h1{
        text-align: center;
    }
}

@media (min-width:280px) and (max-width:499px) {
    img{
        width:90%;
        object-fit: contain;
    }

    h1{
        text-align: center;
        font-size:40px;
    }
}