<div class="pageContainer">

<h1>Beispiele für Horoskop-Interpretationen</h1>

<!-- UNDERLINE -->
<div style="width:50px;margin-bottom:50px;border:3px solid;"></div>

<ng-container *ngFor="let pdfUrl of pdfUrls; let i = index">

    <!-- Erste Interpretation soll einen Abstand nach oben haben -->
    <div *ngIf="i == 0" class="styleOfInterpretation">
        <h2><u>Beispiel {{ i+1 }}</u></h2>
        <img src="assets/img/{{ nameOfImg[i] }}">
        <span class="styleOfTextblockUnderRadiximage">
            <b>Daten zur Radix:</b> <br>
            {{ birthdata[i] }} <br>
            {{ dateofreading[i] }} <br>
        </span>
        <embed class="pdf-sizing mrgbot" [src]="pdfUrl" type="application/pdf">
      </div> 

    <!-- Alle Interpretationen außer die erste und die letze -->
    <div *ngIf="i !== 0 && i !== pdfUrls.length-1" class="styleOfInterpretation">
        <h2><u>Beispiel {{ i+1 }}</u></h2>
        <img src="assets/img/{{ nameOfImg[i] }}">
        <span class="styleOfTextblockUnderRadiximage">
            <b>Daten zur Radix:</b> <br>
            {{ birthdata[i] }} <br>
            {{ dateofreading[i] }} <br>
        </span>
        <embed class="pdf-sizing mrgbot" [src]="pdfUrl" type="application/pdf">
      </div>  

    <!-- Letzte Interpretation soll einen größeren Abstand nach unten haben wegen footer -->
    <div *ngIf="i == pdfUrls.length-1" class="styleOfInterpretation forLastContainer">
        <h2><u>Beispiel {{ i+1 }}</u></h2>
        <img src="assets/img/{{ nameOfImg[i] }}">
        <span class="styleOfTextblockUnderRadiximage">
            <b>Daten zur Radix:</b> <br>
            {{ birthdata[i] }} <br>
            {{ dateofreading[i] }} <br>
        </span>
        <embed class="pdf-sizing" [src]="pdfUrl" type="application/pdf">
      </div>  

</ng-container>
 
</div>