// :root {
//   //Standard-Hintergrund- und Text-Farbe für 'app'-Komponente
//   --background-color1: none;
//   --background-color2: none;
//   --background-color3: none;
//   --background-color4: none;
//   --background-color5: none;
//   --background-color6: none;
//   --text-color: none;


//   //Standard-Hintergrund- und Text-Farbe für Seiten-Komponenten
//   --background-color-page: none;
//   --text-color-page: none;


//   //Standard-Hintergrund- und Text-Farbe für Komponenten: Header, Footer, Impressum, Contact
//   --background-color-impressum: none;
//   --text-color-impressum: none;

//   --background-color-header: none;
//   --text-color-header: none;

//   --background-color-footer: none;
//   --text-color-footer: none;

//   --background-color-contact: none;
//   --text-color-contact: none;


//   //Standard-Hintergrund- und Text-Farbe für weitere Komponenten
//   --background-color-navmenu: none;
//   --text-color-navmenu: none;

//   --background-color-iconbox: none;
//   --text-color-iconbox: none;
  
//   --background-color-custombutton: none;
//   --text-color-custombutton: none;

//   --background-color-contactbox: none;
//   --text-color-contactbox: none;
// }

// :root {
//   //Standard-Hintergrund- und Text-Farbe für 'app'-Komponente
//   --background-color1: #e5e5e5;
//   --background-color2: lightgreen;
//   --background-color3: blue;
//   --background-color4: red;
//   --background-color5: yellow;
//   --background-color6: lightyellow;
//   --text-color: darkblue;


//   //Standard-Hintergrund- und Text-Farbe für Seiten-Komponenten
//   --background-color-page: lightgreen;
//   --text-color-page: darkblue;


//   //Standard-Hintergrund- und Text-Farbe für Komponenten: Header, Footer, Impressum, Contact
//   --background-color-impressum: yellow;
//   --text-color-impressum: darkblue;

//   --background-color-header: yellow;
//   --text-color-header: darkblue;

//   --background-color-footer: yellow;
//   --text-color-footer: darkblue;

//   --background-color-contact: yellow;
//   --text-color-contact: darkblue;


//   //Standard-Hintergrund- und Text-Farbe für weitere Komponenten
//   --background-color-navmenu: red;
//   --text-color-navmenu: darkblue;

//   --background-color-iconbox: yellow;
//   --text-color-iconbox: darkblue;
  
//   --background-color-custombutton: yellow;
//   --text-color-custombutton: darkblue;

//   --background-color-contactbox: yellow;
//   --text-color-contactbox: darkblue;
// }


body{
    margin:0;
    font-family: 'SelbstHeruntergeladeneSchriftart', sans-serif;

    font-size:25px;
    color:#0B2A7A;             //Textfarbe & Randfarbe
    background-color: #F4F4F4; //Hintergrundfarbe
    //overflow-x: hidden;          //Wegen dem Klappmenu
}

@font-face {
    font-family: 'SelbstHeruntergeladeneSchriftart';
    src: url('/assets/fonts/marvel-v16-latin-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SelbstHeruntergeladeneSchriftart';
    src: url('/assets/fonts/marvel-v16-latin-700.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'SelbstHeruntergeladeneSchriftart';
    src: url('/assets/fonts/marvel-v16-latin-italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SelbstHeruntergeladeneSchriftart';
    src: url('/assets/fonts/marvel-v16-latin-700italic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
  }