<div class="containerForPage">

<!-- HEADER --> 
<h1>Astrologie Kurse</h1>

<!-- UNDERLINE -->
<div style="width:50px;margin-bottom:50px;border:3px solid;"></div>

<h2>"Es ist nicht genug zu wissen, man muß auch anwenden; es ist nicht genug zu wollen, man muß auch tun."
  - Johann Wolfgang von Goethe (1749 - 1832)</h2>



  <ng-container *ngFor="let courseImg of courseImgs; let i = index">

    <!-- Ersten beiden Array-Punkte sind komplette Kurse -->
    <div *ngIf="i <= 1" class="completeCourseBox">
        <div class="textboxForCourse">

          <!-- TITLE -->
          <h3 class="mrgbott txtalcent">{{ courseName[i] }}</h3>

          <div class="flexone textboxForCourse2">

            <!-- DESCRIPTION -->
             <div class="textboxForCourse">
              <span class="mrgbott"> {{ courseText[i] }} </span>
              <span class="mrgbott">
                <b>• Inhalt: </b>{{ courseContent[i] }} <br>
                <b>• Dauer: </b> {{ courseTime[i] }} <br>
                <b>• Preis: </b> {{ coursePrice[i] }} <br>
                <b style="color:red">• Info: </b> <span style="color:darkgreen">{{ courseSpecial[i] }}</span>
              </span>
             </div>
            
            <!-- PICTURE -->
            <img src="assets/img/{{ courseImg }}" class="picSize">
          </div>



        </div>

        <!-- BUTTONS -->
        <div class="buttons">
          <app-custombutton (click)="goToUrl(linkToCourse[i])" [buttonText]="label2" class="buybutton"></app-custombutton>
          <app-custombutton routerLink="/Kurse/Kursinhalte" [buttonText]="label4" class="buybutton"></app-custombutton>
          <app-custombutton (click)="goToUrl('https://ullrichtobias.gurucan.com/')" [buttonText]="label3"></app-custombutton>
        </div>
    </div>


  </ng-container>


    <!-- CONTAINER für Infoboxen -->
    <ng-container *ngFor="let picture of picturesForInfoboxes; let i = index">
  
      <!-- Letzte Box -->  
      <div *ngIf="i == picturesForInfoboxes.length-1">
        <!-- HEADER -->
        <h1>{{ captionForInfoboxes[i] }}</h1>
        <!-- UNDERLINE -->
        <div style="width:50px;margin-bottom:50px;border:3px solid;"></div>
        <!-- TEXT -->
        <div class="logoAndText">
          <!-- BILD NUR FALLS DER WERT IM ZUGEHÖRIGEN ARRAY KEIN LEERSTRING -->
          <ng-container *ngIf="picturesForInfoboxes[i]">
            <div class="boxForLogo">
              <img src="assets/img/{{ picture }}" (click)="goToUrl(routeForInfoboxes[i]);" class="boxLogo">
            </div>
          </ng-container>
          <div class="textBoxStyle">{{ textForInfoboxes[i] }}</div>
        </div>    
      </div>
  
      </ng-container>



<div class="lastContainerOfPage buttons">
  <app-custombutton (click)="routeTo('/Kontakt')" [buttonText]="label"></app-custombutton>
  <app-custombutton (click)="goToUrl('https://ullrichtobias.gurucan.com/')" [buttonText]="label5" class="loginbutton"></app-custombutton>
</div>


</div>