<h1>Astrologie Kurse</h1>

<h2>Es ist nicht genug zu wissen, man muß auch anwenden; es ist nicht genug zu wollen, man muß auch tun.
  Johann Wolfgang von Goethe (1749 - 1832)</h2>


<a>https://ullrichtobias.gurucan.com/</a>
<img class="flexone" src="assets/img/kurspromo.png">


<div class="explanation-container">
    <div class="flexone">    
    <h3>Video-Kurs: Evolutionäre Astrologie</h3>
    <span>
     Dieser Video-Kurs richtet sich an Menschen welche selbstständig die Evolutionäre Astrologie erlernen wollen.  <br>
     Beim Kauf erhältst du eine systematische Einführung in die Astrologie und wirst zusätzlich mit den Besonderheiten der Evolutionären Astrologie vertraut gemacht. <br>
     Ich schildere dir auch ein genaues Vorgehen für die Horoskop-Deutung. Der gesamte Inhalt wurde von mir einsteigerfreundlich gestaltet! <br>
     - Dauer: 17:09h <br>
- Ingesamt 8 Kapitel inklusive Übungsaufgaben <br>
- Preis: 280€
    </span>
    </div>
    <img class="flexone" src="assets/img/kurs1.jpg">
  </div>


  <div class="explanation-container">
    <div class="flexone">    
    <h3>Live-Kurs: Deute dein Leben</h3>
    <span>
        Dieser Live-Kurs ist für alle gedacht, welche bereits die theoretischen Grundlagen der Evolutionären Astrologie beherrschen und tiefer in den Prozess des Deutens einsteigen wollen. <br>
        Mit Abschluss des Kurses hast du dir eine vollständige Interpretation deines eigenen Horoskops erarbeitet und bist nun fähig diese Struktur auch auf andere Horoskope anzuwenden. <br>
     - Dauer: 1,5 Monate - Start: Oktober - Anmeldeschluss: 30.9. <br>
     - Insgesamt 4 Live-Calls + viel Praxis inkl. Gruppenarbeit <br>
     - Preis: 220€
    </span>
    </div>
    <img class="flexone" src="assets/img/kurs2.jpg">
  </div>



  
Zu beachten:
Für den Video-Kurs einfach hier (https://ullrichtobias.gurucan.com/) mit E-Mail & Passwort registrieren und bequem per PayPal bezahlen.
Bei Fragen & Anregungen zu den Kursen meldet euch gerne bei mir.
Herzliche Grüße
Tobias Ullrich



<app-custombutton (click)="goToUrl('https://ullrichtobias.gurucan.com/')" [buttonText]="label2"></app-custombutton>
<app-custombutton (click)="routeTo('/Kontakt')" [buttonText]="label"></app-custombutton>